body {
  background-color: #faf9f6;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

/*link css*/
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

/*nav bar styles*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #faf9f6;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background: black;
  font-size: larger;
  justify-content: center;
  width: 100%;
}

nav ul li {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: auto 0;
}

/*header image and title styling*/
.overlay {
  background-image: url("/src/lib/assets/oddSize.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  font-size: x-large;
}

.titles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centeredDesc {
  margin-top: 400px;
  font-size: larger;
  font-weight: 400;
}

/*table of images*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*table has 4 columns, each 1fr width*/
  margin: auto;
  margin-top: 10px;
  width: 70%;
  gap: 4px;
}

.grid img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.grid div {
  overflow: hidden;
}

.grid img:hover {
  transform: scale(1.25); /*zoom in on hover*/
}

/*layout of cards on main page*/
.cardLayout {
  justify-content: center;
  display: flex;
  align-items: center;
}
