:root{
    /*max-width:0fr;*/ /*check this for width*/
    
}

nav{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    background: black;
    color: white;
}

nav ul li{
    padding: 20px;
}


.img{
    background-image: url(./src/lib/headerIMG.jpg);
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.image_wrapper {
    position: relative;
  }
  
  .overlay {
    position: absolute; 
    color: #f7c001;
    background: rgba(57, 57, 57, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }